Data Science Notebook on credit card fraud

Objectives:

In [1]:
print('''List popular languages that Data Scientists use.
List commonly used libraries used by Data Scientists.
Comment on Data Science tools.''')

List popular languages that Data Scientists use.
List commonly used libraries used by Data Scientists.
Comment on Data Science tools.

Some of the popular languages that Data Scientists use are:

In [2]:
print('''Python.
R.
SQL.
Java.
Julia.
Scala.
C/C++.
JavaScript.''')

Python.
R.
SQL.
Java.
Julia.
Scala.
C/C++.
JavaScript.

Some of the commonly used libraries used by Data Scientists include:

In [3]:
print('''TensorFlow.
NumPy.
SciPy.
Pandas.
Matplotlib.
Keras.
SciKit-Learn.
PyTorch.
Scrapy.
BeautifulSoup.
LightGBM.
ELI5.
Theano.
NuPIC.
Ramp.
Pipenv.
Bob.
PyBrain.
Caffe2.
Chainer.''')

TensorFlow.
NumPy.
SciPy.
Pandas.
Matplotlib.
Keras.
SciKit-Learn.
PyTorch.
Scrapy.
BeautifulSoup.
LightGBM.
ELI5.
Theano.
NuPIC.
Ramp.
Pipenv.
Bob.
PyBrain.
Caffe2.
Chainer.

Data Science Tools:

In [5]:
print('''SAS. It is one of those data science tools which are specifically designed for statistical operation
Apache Spark
BigML''')

SAS. It is one of those data science tools which are specifically designed for statistical operation
Apache Spark
BigML

evaluating arithmetic expressions

In [6]:
code = compile("5 + 4", "<string>", "eval")
eval(code)

9

In [7]:
code1 = compile("(5 + 7) * 2", "<string>", "eval")
eval(code1)

24

In [8]:
import math
# Volume of a sphere
code2 = compile("4 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code2)

65449.84694978735

multiply and add numbers.

In [9]:
(3*4)+5

17

convert minutes to hours

In [10]:
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

0 days, 3.3333333333333335 hours, 0 mins.



*  List popular languages that Data Scientists use.

*   List commonly used libraries used by Data Scientists.
*   Comment on Data Science tools.

AUTHOR

In [13]:
print('SHIVMA GUPTA')

SHIVMA GUPTA